$wall-bg: #666666;
$floor-bg: #EEEEEE;
$player-bg: #2222AA;
$enemy-bg: #AA2222;
$weapon-bg: #AAAA22;
$health-bg: #22AA22;
$exit-bg: #FF7722;
$boss-bg: #FF44FF;
$darkness-bg: #000000;

$log-bg: #333333;
$info-color: #DDDDEF;
$warn-color: #CC9933;
$danger-color: #FF1121;
$heal-color: #44FF33;

@mixin flex($direction: row, $wrap: wrap) {
	display: -ms-Flexbox;
	-ms-box-orient: horizontal;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-flow: $direction $wrap;
	-moz-flex-flow: $direction $wrap;
	-ms-flex-flow: $direction $wrap;
	flex-flow: $direction $wrap;
}

// media query size variables
$tablet-width: 768px;
$desktop-width: 1024px;

// media query mixins
@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}
