@import 'utilities/variables';

body {
	background: black;
	color: white;
}

.hud-container {
	text-align: center;
	font-size: 1.8rem;
	font-family: sans-serif;
}

.hud-info {
	margin-right: 1rem;
}

.screen {
	@include flex(column, nowrap);
}

.screen-row {
	@include flex(row, nowrap);
	margin-left: auto;
	margin-right: auto;
}

.screen-cell {
	display: inline-block;
	height: 2vh;
	width: 2vh;
}

.wall {
	background: $wall-bg;
}

.floor {
	background: $floor-bg;
}

.player {
	background: $player-bg;
}

.enemy {
	background: $enemy-bg;
}

.weapon {
	background: $weapon-bg;
}

.health {
	background: $health-bg;
}

.exit {
	background: $exit-bg;
}

.boss {
	background: $boss-bg;
}

.darkness {
	background: $darkness-bg;
}

.log {
	position: relative;
	height: 20vh;
	width: 50vw;
	margin-top: 2vh;
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	background: $log-bg;
	border-width: 3px;
	border-style: outset;
	border-color: #888888;
}

.msg-container {
	position: absolute;
	bottom: 0;
}

.msg {
	display: block;
	color: $info-color;
	&.info {
		color: $info-color;
	}
	&.warn {
		color: $warn-color;
	}
	&.danger {
		color: $danger-color;
	}
	&.heal {
		color: $heal-color;
	}
}

.menu {
	height: 60vh;
	width: 120vh;
	@include flex(column);
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.menu-button {
	width: 15vw;
	height: 5vw;
	margin-left: auto;
	margin-right: auto;
}

.game-over-header {
	text-align: center;
	font-family: serif;
}

.legend {
	@include flex(row, nowrap);
	justify-content: space-between;
}

.legend-container {
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: .5rem;
	margin-bottom: .5rem;
}