@import 'utilities/variables';

body {
	background: black;
	color: white;
	font-size: 16px;
}

.title-container {
	text-align: center;
}

.game {
	@include flex(column, nowrap);
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.game-title {
	font-family: sans-serif;
	font-size: 3rem;
	margin-top: 1rem;
	margin-bottom: .5rem;
}

.hud-container {
	text-align: center;
	font-size: 1.8rem;
	font-family: sans-serif;
	@include flex(row, nowrap);
	justify-content: center;
}

.hud-info {
	margin-right: .375rem;
	margin-left: .375rem;
}

.legend {
	@include flex(row, nowrap);
	justify-content: space-around;
}

.legend-container {
	@include flex(row, nowrap);
	justify-content: center;
	width: 100vw;
	font-family: sans-serif;
	margin-top: .5rem;
	margin-bottom: .5rem;
	.screen-cell {
		display: inline-block;
	}
	.floor {
		background: $floor-bg;
	}
}

.legend-item {
	@include flex(row, nowrap);
	justify-content: center;
	margin-right: 1vw;
	margin-left: 1vw;
	> .legend-item-text {
		vertical-align: 25%;
		margin-left: .1vw;
	}
}

.screen {
	@include flex(column, nowrap);
	transform: rotateX(45deg) rotateZ(45deg);
	transform-style: preserve-3d;
	background: $floor-bg;
	position: relative;
	.wall,
	.player,
	.enemy,
	.weapon,
	.health,
	.exit,
	.boss {
		@extend .make3d;
	}
	// & .wall,
	// & .player,
	// & .enemy,
	// & .weapon,
	// & .health,
	// & .exit,
	// & .boss {
	// 	@extend .make3d;
	// }
}

.screen-row {
	@include flex(row, nowrap);
	padding: 0;
	margin: 0;
	height: 2vh;
}

.screen-cell {
	height: 2vh;
	width: 2vh;
	margin: 0;
	padding: 0;
}

.make3d {
	transform: translateZ(2vh);
	transform-style: preserve-3d;
	box-shadow: inset 0 0 .3vh .3vh hsla(0, 0%, 0%, .1);
	&:after,
	&:before {
		box-shadow: inset 0 0 .3vh .3vh hsla(0, 0%, 0%, .1);
		content: '';
		height: 2vh;
		position: absolute;
		width: 2vh;
	}
	&:after {
		transform: rotateX(-90deg) translateY(2vh);
		transform-origin: 100% 100%;
		background: inherit;
	}
	&:before {
		transform: rotateY(90deg) translateX(2vh);
		transform-origin: 100% 0;
		background: inherit;
	}
}

.wall {
	background: $wall-bg;
}

.floor {
}

.player {
	background: $player-bg;
}

.enemy {
	background: $enemy-bg;
}

.weapon {
	background: $weapon-bg;
}

.health {
	background: $health-bg;
}

.exit {
	background: $exit-bg;
}

.boss {
	background: $boss-bg;
}

.darkness {
	background: $darkness-bg;
	box-shadow: 0 0 0px 4px black;
}

.log {
	position: relative;
	height: 15vh;
	width: 30vw;
	margin-top: 2vh;
	margin-left: auto;
	margin-right: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	background: $log-bg;
	border-width: .25rem;
	border-style: outset;
	border-color: #AAAAAA;
	padding: .375rem;
}

.msg-container {
	position: absolute;
	bottom: 0;
}

.msg {
	display: block;
	color: $info-color;
	&.info {
		color: $info-color;
	}
	&.warn {
		color: $warn-color;
	}
	&.danger {
		color: $danger-color;
	}
	&.heal {
		color: $heal-color;
	}
}

.menu {
	height: 60vh;
	width: 120vh;
	@include flex(column);
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

.menu-button {
	width: 15vw;
	height: 5vw;
	margin-left: auto;
	margin-right: auto;
}

.game-over-header {
	text-align: center;
	font-family: sans-serif;
}


.menu-button {
	border: none;
}